<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Expresso</string>
	<key>ordering</key>
	<array>
		<string>92198313-2E3D-425D-97C2-466A3B52EE67</string>
	</array>
	<key>uuid</key>
	<string>C6DC8452-9B23-4615-AEB1-79FAD294D0A5</string>
</dict>
</plist>
